html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1110px;
    margin: 0 auto;

}

:root {
    --accent-color: rgba(247, 101, 74, 1);
    --dark-color: rgba(64, 65, 73, 1);
    --gray-color: rgba(153, 153, 153, 1);
    --white-color: rgba(255, 255, 255, 1);
    --background-color: rgba(229, 229, 229, 1);
}

.text-h2 {
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}

.text-h3 {
    font-weight: 500;
    font-size: 24px;   
}

.text-h4 {
    font-weight: 500;
    font-size: 21px;
}

.text-p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.text-p-reviews {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
}

.page {
    overflow: hidden;
}
.header {
    min-height: 740px;
    background-image: url(../img/Header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    margin-bottom: 117px;
}
.logo__header {
    width: 60px;
    height: 60px;
}
.burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: var(--accent-color);
    border: none;


}
.burger__line {
    display: block;
    width: 21px;
    height: 3px;
    margin-bottom: 4px;
    background-color: #fff;
}

.burger__line:last-child {
    margin-bottom: 0;
}
.header__title {
    font-weight: 500;
    color: var(--white-color);
    text-align:center;
    font-size:64px;
    letter-spacing:2px;
    text-transform: uppercase;
    max-width: 1000px;
    margin: 0 auto 40px;
   
    

}

.header__text {
    text-transform: uppercase;
    text-align:center;
    font-size:18px;
    color: var(--white-color);
}

.about {
    padding-top: 250px;
    position: relative;
    min-height: 1080px;
}
.info {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1110px;
    min-height: 300px;
    width: 100%;
    background-color: #f7f7f7;
    padding: 57px 130px;
}
.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}
.about__grid-item {
    width: 190px;
    text-align: center;
    
}
.about__h4 { 
    margin-top: 15px;   
    color:var(--accent-color);
    font-size:72px;
    line-height:auto;

}
.about__h5 {
    color: var(--dark-color);
    font-size:36px;
    line-height:auto;
}
.about__p {
    color:var(--gray-color);
    font-size:18px;
}

.project__title {
    text-align: center;
    margin-bottom: 60px;
    
}
.project__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project__item {
    text-align: left;
    margin-right: 15px;
}

.project__item:nth-last-child(1){
    margin-right: 0;
}

.project__img {
    max-width: 350px;
    margin-bottom: 45px;
    min-width: 100%;
}

.project__h3 {
    margin-bottom: 20px;
}
.project__line {
    width: 55px;
    height: 6px;
    background-color: var(--accent-color);
    margin-bottom: 15px;
    
}

.project__text {
    color:var(--gray-color);
    font-size:16px;
    font-family:"Open Sans", sans-serif;
   
}


.request {
    background-color: var(--accent-color);
}

.request__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0 45px;
}

.request__inner {
    color: var(--white-color);
}

.request__title {
    font-size:48px;
    letter-spacing:2px;
}

.request__text {
    font-size:24px;
    letter-spacing:2px;

}

.request__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    max-width: 175px;
    height: 49px;
    border: none;
    font-size: 14px;
    padding: 14px 30px;
    margin-left: 10px;
    text-decoration: none;
    background-color: #fff;
    

}

.request__img {
    margin-right: 15px;
}

.services {
    padding: 150px 0;
}
.services__title {
    text-align: center;
    margin-bottom: 60px;
}
.services__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}
.services__item {
    padding: 59px 92px 86px;
    background-color:#f7f7f7;
}
.services__logo {
    display: block;
    margin: 0 auto 30px;

}
.services__text {
    margin: 0 auto;
    text-align: center;
    max-width: 172px;
    text-transform: uppercase;
}


.portfolio {
    
}
.portfolio__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.portfolio__item {
    
}
.portfolio__img {
    width: 100%;
}


.questions {
    padding-top: 150px;
    padding-bottom: 110px;
    
}

.questions__section__title {
    margin-bottom: 50px;
    text-align: center;
}

.questions__inner {
    max-width: 730px;
}
.questions__item {
    margin-bottom: 40px;
}
.questions__title {
    color: var(--accent-color);
    margin-bottom: 20px;
}

.questions__title:hover {
    cursor: pointer;
}



.questions__text {
    color: var(--gray-color)
}



.partners {
    background-color: var(--dark-color);
    padding: 150px 0 150px;
    
}
.text-h2 {
}
.partners__title {
    text-align: center;
    color: var(--white-color);
    margin-bottom: 60px;
}
.partners__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

   
}
.partners__item {
    margin-bottom: 30px;
    margin-right: 34px;
    max-width: 170px;

}

.partners__item:nth-child(5n) {
    margin-right: 0;
}

.partners__logo {
    width: 100%;
}


.reviews {
    padding: 150px 0 150px;
}
.text-h2 {
    text-align: center;
}

.reviews__title {
    margin-bottom: 60px;
}

.reviews__inner {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}
.reviews__item {
}
.reviews__card {
    margin-bottom: 30px;
    background-color: #F7F7F7;
}

.reviews__item__title {
    color:var(--accent-color);
    text-align:left;
    font-size:96px;
    margin-bottom: -40px;
    
    
}
.reviews__text__author {
    text-align:left;
    font-size:18px;
    font-weight: bold;
   

}

.reviews__author {
    color: var(--accent-color);
}



.contacts {
    padding: 100px 0 120px;
}

.contacts__title {
    text-align: center;
    margin-bottom: 60px;
}
.contact__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.contact__item {
    text-decoration: uppercase;
    
}
.contacts__logo {
    display: block;
    margin: 0 auto;
    max-width: 49px;
    height: 49px;
    margin-bottom: 20px;
}



.contacts__item__title {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: uppercase;
}
.contacts__text {
    text-align: center;
    color: var(--dark-color);
    font-size:18px;
    text-decoration: uppercase;
    font-weight: bold;
    
}

.contacts__text a {
    text-decoration: none;
    color: inherit;
}



.contacts__email {
    color: var(--accent-color);
}


.footer {
    padding: 30px 0;
    background-color: var(--dark-color);
}


.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__text {
    color:#F7F7F7;
}













@media screen and (max-width: 1280px){
    .about__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        
    }
    
}

@media screen and (max-width: 760px){
    .info {
        position: relative;
    }
    .about__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        
    }
    
}


@media screen and (max-width: 1280px){
    .about {
        padding: 450px 15px 110px;
    }
    
}

@media screen and (max-width: 1090px){
    .about {
        padding: 150px 10px 80px;
    }

   .project__inner {
    flex-direction: column;
    align-items:center;
    vertical-align: center;
   }

   .project__item {
    margin-bottom: 30px;
    text-align: center;
   }

   .project__img {
    margin: 0 auto;
   }

   .project__line {
    margin: 20px auto;
    width: 100%;
   }
    
}

@media screen and (max-width: 1059px) {
    .request__inner {
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 884px) {
    .request__btn {
        margin-top: 20px;;
    }

}

@media screen and (max-width: 1280px){
    .services {
       padding: 0 15px;
    }
    .services__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
       
    }
    .services__item {
        width: 100%;
        
    }
    
}

@media screen and (max-width: 760px){
    .services__inner {
        grid-template-columns: repeat(1, 1fr);
        
       
    }
    
}

@media screen and (max-width: 1280px){
    .portfolio__inner {
        grid-template-columns: repeat(2, 1fr);

    }
    
}

@media screen and (max-width: 760px){
    .portfolio__inner {
        grid-template-columns: repeat(1, 1fr);

    }
    
}


@media screen and (max-width: 1280px){
    .questions {
        padding: 150px 15px 90px;  
    }
    
}


@media screen and (max-width: 1280px){
    .partners__inner {
        justify-content: center;
    
    }

    .partners__item {
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .partners__item:nth-child(5n) {
        margin-right: 10px;
        margin-left: 10px;
    }
    
}

@media screen and (max-width: 1280px){
    .reviews {
        padding: 100px 15px;
        
        
    }
    .reviews__inner {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 760px){
    .reviews {
        padding: 100px 15px;
        
        
    }
    .reviews__inner {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media screen and (max-width: 1280px){
    .contacts {
        padding: 100px 15px;
        
        
    }
    .contacts__inner {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 760px){
    .contacts {
        padding: 100px 15px;
        
        
    }
    .contacts__inner {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media screen and (max-width: 1280px){
    .footer__inner {
        padding: 30px 15px;
        
   }
    
}

@media only screen and (max-width: 992px) {
    .sidenav.sidenav-fixed {
      -webkit-transform: translateX(-105%);
              transform: translateX(-105%);
    }
    .sidenav.sidenav-fixed.right-aligned {
      -webkit-transform: translateX(105%);
              transform: translateX(105%);
    }
    .sidenav > a {
      padding: 0 16px;
    }
    .sidenav .user-view {
      padding: 16px 16px 0;
    }
  }

  @media only screen and (max-width: 992px) {
    .modal {
      width: 80%;
    }
  }


@media screen and (max-width: 760px){
   .footer__inner {
        flex-direction: column;
        
   }
    
}

@media only screen and (min-width: 601px) {
    .datepicker-modal {
      max-width: 625px;
    }
    .datepicker-container.modal-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
    }
    .datepicker-date-display {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 270px;
          -ms-flex: 0 1 270px;
              flex: 0 1 270px;
    }
    .datepicker-controls,
    .datepicker-table,
    .datepicker-footer {
      width: 320px;
    }
    .datepicker-day-button {
      line-height: 44px;
    }
  }

  @media only screen and (min-width: 601px) {
    .timepicker-modal {
      max-width: 600px;
    }
    .timepicker-container.modal-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
    }
    .timepicker-text-container {
      top: 32%;
    }
    .timepicker-display-am-pm {
      position: relative;
      right: auto;
      bottom: auto;
      text-align: center;
      margin-top: 1.2rem;
    }
  }

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .z-depth-5, .modal {
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
            box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  }

  .sidenav span.badge {
    margin-top: calc(24px - 11px);
  }

 

  .sidenav .collapsible,
  .sidenav.fixed .collapsible {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  ul#slide-out:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
  }
  
  ul#slide-out:not(.browser-default) > li {
    list-style-type: none;
  }

  #slide-out a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .sidenav .collapsible li,
  .sidenav.fixed .collapsible li {
    padding: 0;
  }
  
  .sidenav .collapsible-header,
  .sidenav.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 16px;
  }
  
  .sidenav .collapsible-header:hover,
  .sidenav.fixed .collapsible-header:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidenav .collapsible-header i,
  .sidenav.fixed .collapsible-header i {
    line-height: inherit;
  }
  
  .sidenav .collapsible-body,
  .sidenav.fixed .collapsible-body {
    border: 0;
    background-color: #fff;
  }
  
  .sidenav .collapsible-body li a,
  .sidenav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 31px;
  }

  .sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }
  
  .sidenav.right-aligned {
    right: 0;
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
    left: auto;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  
  .sidenav .collapsible {
    margin: 0;
  }
  
  .sidenav li {
    float: none;
    line-height: 48px;
  }
  
  .sidenav li.active {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidenav li > a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
  }
  
  .sidenav li > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-flat, .sidenav li > a.btn-floating {
    margin: 10px 15px;
  }
  
  .sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-floating {
    color: #fff;
  }
  
  .sidenav li > a.btn-flat {
    color: #343434;
  }
  
  .sidenav li > a.btn:hover, .sidenav li > a.btn-large:hover, .sidenav li > a.btn-small:hover, .sidenav li > a.btn-large:hover {
    background-color: #2bbbad;
  }
  
  .sidenav li > a.btn-floating:hover {
    background-color: #26a69a;
  }
  
  .sidenav li > a > i,
  .sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"],
  .sidenav li > a > i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: rgba(0, 0, 0, 0.54);
  }
  
  .sidenav .divider {
    margin: 8px 0 0 0;
  }
  
  .sidenav .subheader {
    cursor: initial;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
  }
  
  .sidenav .subheader:hover {
    background-color: transparent;
  }
  
  .sidenav .user-view {
    position: relative;
    padding: 32px 32px 0;
    margin-bottom: 8px;
  }
  
  .sidenav .user-view > a {
    height: auto;
    padding: 0;
  }
  
  .sidenav .user-view > a:hover {
    background-color: transparent;
  }
  
  .sidenav .user-view .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  .sidenav .user-view .circle, .sidenav .user-view .name, .sidenav .user-view .email {
    display: block;
  }
  
  .sidenav .user-view .circle {
    height: 64px;
    width: 64px;
  }
  
  .sidenav .user-view .name,
  .sidenav .user-view .email {
    font-size: 14px;
    line-height: 24px;
  }
  
  .sidenav .user-view .name {
    margin-top: 16px;
    font-weight: 500;
  }
  
  .sidenav .user-view .email {
    padding-bottom: 16px;
    font-weight: 400;
  }

  .sidenav.sidenav-fixed {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: fixed;
  }
  
  .sidenav.sidenav-fixed.right-aligned {
    right: 0;
    left: auto;
  }
  
  
  .sidenav .collapsible-body > ul:not(.collapsible) > li.active,
  .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
    background-color: #ee6e73;
  }
  
  .sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
  .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
    color: #fff;
  }
  
  .sidenav .collapsible-body {
    padding: 0;
  }
  
  .sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    display: none;.btn-flat {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  color: #343434;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.btn-flat:focus, .btn-flat:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-flat:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-flat.disabled, .btn-flat.btn-flat[disabled] {
  background-color: transparent !important;
  color: #b3b2b2 !important;
  cursor: default;
}
  }

  .breadcrumb i,
.breadcrumb [class^="mdi-"], .breadcrumb [class*="mdi-"],
.breadcrumb i.material-icons {
  display: inline-block;
  float: left;
  font-size: 24px;
}

.material-icons {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
       -moz-font-feature-settings: 'liga';
            font-feature-settings: 'liga';
  }

  .input-field input[type=search]:focus:not(.browser-default) + label i,
.input-field input[type=search]:focus:not(.browser-default) ~ .mdi-navigation-close,
.input-field input[type=search]:focus:not(.browser-default) ~ .material-icons {
  color: #444;
}

.input-field input[type=search] ~ .mdi-navigation-close,
.input-field input[type=search] ~ .material-icons {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.sidenav li > a > i,
.sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"],
.sidenav li > a > i.material-icons {
  float: left;
  height: 48px;
  line-height: 48px;
  margin: 0 32px 0 0;
  width: 24px;
  color: rgba(0, 0, 0, 0.54);
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
  }

  .dropdown-content li.divider {
    min-height: 0;
    height: 1px;
  }

  .modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
  }

  .modal:focus {
    outline: none;
  }

  .modal h1, .modal h2, .modal h3, .modal h4 {
    margin-top: 0;
  }
  
  .modal .modal-content {
    padding: 24px;
  }
  
  .modal .modal-close {
    cursor: pointer;
  }
  
  .modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
    text-align: right;
  }
  
  .modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
    margin: 6px 0;
  }
  
  .modal-overlay {
    position: fixed;
    z-index: 999;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity;
  }

  .modal.modal-fixed-footer {
    padding: 0;
    height: 70%;
  }
  
  .modal.modal-fixed-footer .modal-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
  }
  
  .modal.modal-fixed-footer .modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
  }
  
  .modal.bottom-sheet {
    top: auto;
    bottom: -100%;
    margin: 0;
    width: 100%;
    max-height: 45%;
    border-radius: 0;
    will-change: bottom, opacity;
  }

  .waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
  }
  
  .waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
            transform: scale(0);
    pointer-events: none;
  }
  
  .waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
  }
  
  .waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7);
  }
  
  .waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7);
  }
  
  .waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7);
  }
  
  .waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7);
  }
  
  .waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7);
  }
  
  .waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7);
  }
  
  .waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none;
  }
  
  .waves-effect img {
    position: relative;
    z-index: -1;
  }

  .waves-effect .waves-ripple {
    z-index: -1;
  }
  
  .waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
  }

  .modal .modal-content {
    padding: 24px;
  }

  .modal.modal-fixed-footer .modal-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  .datepicker-container.modal-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }

  .timepicker-container.modal-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }

  .modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
    text-align: right;
  }

  .modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
    margin: 6px 0;
  }

  .modal.modal-fixed-footer .modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
  }

  .modal .modal-close {
    cursor: pointer;
  }

  .waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
  }
  
  .waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
            transform: scale(0);
    pointer-events: none;
  }
  
  .waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
  }
  
  .waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7);
  }
  
  .waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7);
  }
  
  .waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7);
  }
  
  .waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7);
  }
  
  .waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7);
  }
  
  .waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7);
  }
  
  .waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none;
  }
  
  .waves-effect img {
    position: relative;
    z-index: -1;
  }

  .waves-effect .waves-ripple {
    z-index: -1;
  }

  nav ul a.btn, nav ul a.btn-large, nav ul a.btn-small, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
    margin-top: -2px;
    margin-left: 15px;
    margin-right: 15px;
  } 

  nav ul a.btn, nav ul a.btn-large, nav ul a.btn-small, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
    margin-top: -2px;
    margin-left: 15px;
    margin-right: 15px;
  }

  nav ul a.btn > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-small > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-flat > .material-icons, nav ul a.btn-floating > .material-icons {
    height: inherit;
    line-height: inherit;
  }

  .btn, .btn-large, .btn-small,
.btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.btn.disabled, .disabled.btn-large, .disabled.btn-small,
.btn-floating.disabled,
.btn-large.disabled,
.btn-small.disabled,
.btn-flat.disabled,
.btn:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-floating:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-flat:disabled,
.btn[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-floating[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-flat[disabled] {
  pointer-events: none;
  background-color: #DFDFDF !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
}


.btn.disabled:hover, .disabled.btn-large:hover, .disabled.btn-small:hover,
.btn-floating.disabled:hover,
.btn-large.disabled:hover,
.btn-small.disabled:hover,
.btn-flat.disabled:hover,
.btn:disabled:hover,
.btn-large:disabled:hover,
.btn-small:disabled:hover,
.btn-floating:disabled:hover,
.btn-large:disabled:hover,
.btn-small:disabled:hover,
.btn-flat:disabled:hover,
.btn[disabled]:hover,
.btn-large[disabled]:hover,
.btn-small[disabled]:hover,
.btn-floating[disabled]:hover,
.btn-large[disabled]:hover,
.btn-small[disabled]:hover,
.btn-flat[disabled]:hover {
  background-color: #DFDFDF !important;
  color: #9F9F9F !important;
}

.btn, .btn-large, .btn-small,
.btn-floating,
.btn-large,
.btn-small,
.btn-flat {
  font-size: 14px;
  outline: 0;
}

.btn i, .btn-large i, .btn-small i,
.btn-floating i,
.btn-large i,
.btn-small i,
.btn-flat i {
  font-size: 1.3rem;
  line-height: inherit;
}

.btn-flat {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
    color: #343434;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
  }
  
  .btn-flat:focus, .btn-flat:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .btn-flat:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .btn-flat.disabled, .btn-flat.btn-flat[disabled] {
    background-color: transparent !important;
    color: #b3b2b2 !important;
    cursor: default;
  }

  .sidenav li > a.btn-flat {
    color: #343434;
  }

  .materialboxed {
    display: block;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    position: relative;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    -webkit-backface-visibility: hidden;
  }
  
  .materialboxed:hover:not(.active) {
    opacity: .8;
  }
  
  .materialboxed.active {
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
  }

  .carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none;
}